.ms_navbar{
    background-color: #2c3e50;
}

#jumbotron {
    background-color:#1abc9c ;
}

img {
    width: 100%;
    border-radius: 10px;    
}

.about {
    background-color:#1abc9c ;
}

.widoto {
    height: 4px;
    width: 80px;
}

footer {
   
    background-color:#3a546d ;
}

.credits {
    
    background-color: #2c3e50;
}

.cico:after {
content:" \00A9";

}
